@inherits LayoutComponentBase
<Syncfusion.Blazor.Popups.SfDialogProvider />
<PageTitle>LunazVehiclePartsTracker</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
